
log/UT-Automation.log
.idea/workspace.xml
assets
log
testing
venv
*.xml
*.xml
*.log
*.xml
*.log
*.pyc
*.log
*.log
log/UT-Automation.log
*.log
*.pyc
*.log
*.log
*.xml
*.log
*.pyc
*.log
*.log
*.pb
*.log
*.log
